University.Client/Service References/ServiceReference1/LecturerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/University.Db.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/University.Db.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSeminar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seminar" nillable="true" type="tns:Seminar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeminar" nillable="true" type="tns:ArrayOfSeminar" />
  <xs:complexType name="Seminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lecturers" nillable="true" type="tns:ArrayOfLecturer" />
      <xs:element minOccurs="0" name="SeminarId" type="xs:int" />
      <xs:element minOccurs="0" name="SeminarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeminarTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seminar" nillable="true" type="tns:Seminar" />
  <xs:complexType name="ArrayOfLecturer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lecturer" nillable="true" type="tns:Lecturer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLecturer" nillable="true" type="tns:ArrayOfLecturer" />
  <xs:complexType name="Lecturer">
    <xs:sequence>
      <xs:element minOccurs="0" name="LecturerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LecturerAge" type="xs:int" />
      <xs:element minOccurs="0" name="LecturerId" type="xs:int" />
      <xs:element minOccurs="0" name="LecturerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seminars" nillable="true" type="tns:ArrayOfSeminar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lecturer" nillable="true" type="tns:Lecturer" />
</xs:schema>