University.Client/Service References/ServiceReference1/LecturerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/University.Wcf/LecturerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/University.Wcf.Entity" />
  <xs:element name="GetAllLecturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLecturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/University.Wcf.Entity" minOccurs="0" name="GetAllLecturersResult" nillable="true" type="q1:ArrayOfLecturerWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLecturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/University.Wcf.Entity" minOccurs="0" name="lecturer" nillable="true" type="q2:LecturerWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLecturerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/University.Wcf.Entity" minOccurs="0" name="GetLecturerByIdResult" nillable="true" type="q3:LecturerWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLecturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLecturerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLecturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/University.Wcf.Entity" minOccurs="0" name="lecturer" nillable="true" type="q4:LecturerWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLecturerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeminars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeminarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/University.Wcf.Entity" minOccurs="0" name="GetSeminarsResult" nillable="true" type="q5:ArrayOfSeminarWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>